<div class="container">
    <div>
    <h2>Ajouter un Produit :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID </label>
        <input type="text" [(ngModel)]="newDepense.Id"
        name="id" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Produit</label>
        <input type="text"[(ngModel)]= "newDepense.depense"
        name="depense" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix Produit</label>
        <input type="number" [(ngModel)]= "newDepense.prix"
        name="prix" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newDepense.date"
        name="date" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addDepense()" class="btn btn-success">Ajouter</button>
        </div>
        </form>
        </div>